<td>{{contact.lastname}}</td>
<td>{{contact.firstname}}</td>
<td>{{contact.age}}</td>
<td>
    <button [routerLink]="['/contacts', contact.id]" type="button" class="btn btn-default btn-sm float-right">Edit</button>
</td>
