<div *ngIf="!contacts.length" class="alert alert-info" role="alert">List is empty.</div>

<table *ngIf="contacts.length" class="table table-hover">
    <thead>
     <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th></th>
     </tr>
    </thead>

    <tbody>
        <tr *ngFor="let contact of contacts" app-contact-element [contact]="contact" ></tr>
    </tbody>
</table>

<a [routerLink]="['/contacts/add']" class="btn btn-primary float-right mt-2" href="#" role="button">Add contact</a>
