<h2>{{contact.id ? "Edit": "Add"}}</h2>

<form novalidate autocomplete="off" #form="ngForm">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                    id="firstname"
                    name="firstname"
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    [(ngModel)]="contact.firstname"
                    #title="ngModel">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input
                    id="lastname"
                    name="lastname"
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    [(ngModel)]="contact.lastname">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-2">
            <div class="form-group">
                <label for="name">Age</label>
                <input
                    id="age"
                    name="age"
                    type="number"
                    class="form-control"
                    placeholder="Age"
                    [(ngModel)]="contact.age"
                    min="0"
                    max="150">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group">
                <button
                    class="btn btn-primary float-right"
                    type="button"
                    (click)="save()"
                    [disabled]="form.invalid">Save</button>
            </div>
        </div>
    </div>
</form>
