<div class="container mat-typography">
    <header class="header">
        <h1>Contacts</h1>
    </header>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer"></footer>
</div>
